.card {
  width: 15em;
  /* height: 15em; */
  margin: 1em auto;
  
  background: white;
  /* display: inline-block; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  /* border: 1px solid #eee; */
  border-radius: .5em;
  transition: all .25s ease-in;
}

.card:hover {
  box-shadow: 0 17px 50px rgba(0, 0, 0, 0.19), 0 12px 15px rgba(0, 0, 0, 0.24);
  /* border: 1px solid #eee; */
}

.card-info {
  display: flex;
  justify-content: space-between;
  /* max-height: 2em; */
}
 .card-key {
   font-weight: 500;
   font-style: oblique;
 }

 .card-value {
   font-weight: 500;
 }
 .note-value {
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.fas {
  cursor: pointer;
}

.trash {
  color: crimson;
  transition: all .15s ease-in;
}

.pencil {
  color: #007BFF;
  transition: all .15s ease-in;
}

.pencil:hover {
  color: rgb(5, 85, 171);
  transform: scale(1.25);
}

.trash:hover {
  color: red;
  transform: scale(1.25); 
}

.plus {
  color: #46A761;
  transition: all .15s ease-in;
}

.plus:hover {
  color: rgb(94, 187, 121);
  transform: scale(1.25); 
}


.stats-date-container{
  padding: 0.5em 0.25em 0.25em 0.25em;
  border-radius: 5px;
  background-color: rgb(84, 80, 87);
  opacity: .85;
}

.stats-date {
  font-weight: 500;
  font-size: 1.15em;
  color: rgb(235, 225, 218);

}

.stats {
  padding: 0.5em 1em 1em;
}
svg {
  padding-bottom: 0.25em;
}

/* For Bigger Screens */
@media(min-width: 600px) {
  .card {
    display: inline-block;
    margin: 1em;
  }
}
