.submit {
  margin: 1em 0;
  padding: 5px 10px;
  width: 100%;
  font-size: 1em;
}
.register {
  margin-right: .25em;
}

.form-container {
  height: 455px;
  width: 400px;
  padding: 20px 30px;
  margin: 0 auto;
  /* background-color: rgba(250, 250, 250, 0.81);
  border: 1px solid grey;
  border-radius: 5px */
}