.submit {
  margin: 1em 0;
  padding: 5px 10px;
  width: 100%;
  font-size: 1em;
}
.register {
  margin-right: .25em;
}

.form-container {
  max-height: 455px;
  max-width: 400px;
  padding: 20px 30px;
  margin: 0 auto;
  /* background-color: rgba(250, 250, 250, 0.81);
  border: 1px solid grey;
  border-radius: 5px */
}

.notes {
  width: 98.5%;
  height: 4em;
  margin: 0.5em 0;
  border-radius: 5px;
  font-size: 1em;
}

@media (min-width: 600px) {
  .notes {
    width: 99%;
  }
}