@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

.app-header {
  border-bottom: 1px solid black;
  margin: 0 0 20px 0;
  padding: 15px 10px 0px;
  background-color: rgb(120, 91, 148);
  color: rgb(235, 225, 218);
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
  max-height: 200px;
}

.logout {
  margin-bottom: 5px;
  position: absolute;
  right: 5px;
  top: 175px;
}

.slogan {
  margin: 0;
  font-size: 1.25em;
}

.dollar {
  margin: 0 .75em;
}

h1 {
  margin: 0;
}

@media (min-width: 600px) {
  .dollar {
    margin: 0 2em
  }
  .logout {
    position: static;
  }
}